/* this makes it possible to add next button beside scrollable */
div.scrollableWrapper {
    width: 830px;
    border: 0px solid #CCC;
    margin-left: auto;
    margin-right: auto;
}

div.scrollable {
	float:left;		
}

/* prev, next, prevPage and nextPage buttons */
a.prev, a.next, a.prevPage, a.nextPage {
	display:block;
	width:18px;
	height:18px;
	background:url(/images/icons/left.png) no-repeat;
	float:left;
	margin:43px 0px;
	cursor:pointer;
}

/* mouseover state */
a.prev:hover, a.next:hover, a.prevPage:hover, a.nextPage:hover {
	background-position:0px -18px;		
}

/* disabled navigational button */
a.disabled {
	visibility:hidden !important;		
}

/* next button uses another background image */
a.next, a.nextPage {
	background-image:url(/images/icons/right.png);
	clear:right;	
}

/* root element for the whole scrollable setup */
div.scrollable {  
	position:relative;
	overflow:hidden;
	width: 790px;	 
	height:170px;	
}

/* 
	root element for scrollable items. It is 
	absolutely positioned with large width. 
*/
#thumbs {	
	position:absolute;
	width:20000em;	
	clear:both;
}

/* custom positioning for navigational links */
a.prev, a.next {
	margin-top:58px;	
}



/* single item */
#thumbs div {
	float:left;
	width:131px;
	border-right: 1px solid #EEE;
	height:170px;
	color:#000;
	cursor:pointer;
    text-align: center;
}

/* style when mouse is over the item */
#thumbs div.hover {
    background-image: url('../images/thumb_bg.png');
	background-repeat: no-repeat;
}

/* style when element is active (clicked) */
#thumbs div.active {
    background-image: url('../images/thumb_selected_bg.png');
	background-repeat: no-repeat;
	cursor:default;
}

#thumbs span {
    color: #999;
    font-size: 9px;
}

#thumbs p {
    margin-top: 4px;
    height: 70px;
    line-height: 70px;
}

#thumbs h3 {
    margin-left: auto;
    margin-right: auto;
    width: 121px;
	margin-top: 15px;
    height: 60px;
	font-size:12px;
	color:#000;	
	word-wrap: break-word;
}

#thumbs h3 a {
	text-decoration: none;
}
