{{#i18n}}Login{{/i18n}}<br /><br />

{{#errors}}
Errors occured:
- {{#i18n}}{{.}}{{/i18n}}<br />
{{/errors}}

<form action="" method="post">
    Username: <input type="text" name="username">
    Password: <input type="text" name="password">
    <input type="submit" value="Login">
</form>
