{{#i18n}}Register{{/i18n}}<br /><br />

{{#errors}}
- {{#i18n}}{{.}}{{/i18n}}<br />
{{/errors}}

<form action="" method="post">
    Username: <input type="text" name="username">
    Password: <input type="text" name="password">
    Email: <input type="text" name="email">
    <input type="submit" value="Register">
</form>
