{{#i18n}}Add Project{{/i18n}}<br /><br />

{{#errors}}
Errors occured:
- {{#i18n}}{{.}}{{/i18n}}<br />
{{/errors}}

<form action="" method="post">
    Name: <input type="text" name="name">
    Summary: <input type="text" name="summary">
    <input type="submit" value="Add">
</form>
